<h2>The Book Explorer</h2>

<div class="lead fw-normal">
  <p>
    Welcome to the online Book Explorer!
  </p>
  <p>
    This service will facilitate a registered user to upload and store data of a CSV file containing a list of books.
    The CSV should be consists of following headers.
  </p>
  <p>
    Please navigate <%= link_to 'here', new_csv_path, class:"link-success" %> to upload a csv file.
  </p>
</div>

