<h1 class="display-6">Ubiquity Book Explorer</h1>

<div class="lead fw-normal">
  <p class="lead">
    Welcome to the online Book Explorer!
  </p>
  <p class="lead">
    This service facilitates a registered user to upload and store data of a CSV file containing a list of books.
  </p>
  <p class="lead">
    <%= link_to 'Upload a CSV file', new_csv_path, class:"btn btn-success" %>
  </p>
</div>

