<h1 class="display-6">Import CSV File</h1>

<div class="lead fw-normal">
  <p class="lead">
    Please use this service to upload and store data of your CSV file.
    The CSV file should consist of the following headers.
  </p>
  <ul class="lead">
    <li>Book title</li>
    <li>Book author</li>
    <li>Date published</li>
    <li>Unique identifier for the book</li>
    <li>Publisher name</li>
  </ul>
</div>

<div class="container overflow-hidden">
  <div class="row mt-5">
    <%= form_for @csv do |form| %>
      <div class="row d-flex zindex-sticky w-50">
        <div class="col" >
          <div class="d-grid gap-5 d-md-flex justify-content-start">
            <%= form.file_field :csv_file, accept: '.csv', class:"form-control" %>
            <%= form.button('Import', class:"btn btn-primary") %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>